body {
    font-family: sans-serif;
    margin: 0;
    background-color: #8ba5b1;
    color: #333;
}

header {
    background-color: #413030;
    color: white;
    padding: 20px;
}

.container {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

nav ul {
    padding: 0;
    text-align: center;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 40px 0;
}

.projetos-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.projetos {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    text-decoration: none;
}

.contato-list {
    text-align: center;
    padding: 0;
    list-style: none;
}

.contato-list a {
    color: #1d7ee6;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .projetos-container {
        flex-direction: column;
    }

    .projetos {
        width: 100%;
    }
}

ul a:hover{
    color: #000000;
    transition-duration: 0.5s;
}
